.signUpPageContent {
    margin: 150px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUpHeaderTitle {
    font-size: 24px;
    margin: 0 0 10px 0;
}

.signUpLogIn {
    align-content: center;
    margin: 0 10px 0 auto;
    width: 100px;    
    height: 100%;  
    background-color: #DBDBDB;
    border: none;
    outline: none;
    text-decoration: none;
}

.signUpLogIn:hover {
    background-color:#FED53B;
    transition: 0.3s;
    cursor: pointer;
}

.signUpContainer {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B0B0B0;
    border-radius: 4px;
    padding: 10px 0 0 0;
}

.signUpTextboxes {
    margin: 0 0 10px 0;
    padding-left: 10px;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: none;
}

.signUpSubmit {    
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 3px;
    background-color: #DBDBDB;
    outline: none;
}

.signUpSubmit:hover {
    cursor: pointer;
    background-color: #FED53B;
    transition: 0.3s;
}
